@charset "UTF-8";

body {
    font: 16px/1.5 "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #333;
}

.velocidade {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 190px;
    
}